.btn {
    display: flex;
    border: none;
    background: #666;
    color: #fff;
    padding: 7px 20px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
  }
  
.btn:hover {
    background: rgb(66, 189, 62);
}