.row {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.stage {
    width: 90%;
    height: 50%;
    margin: auto;
    margin-top: 40px;
    display: block;
    border: lightblue dotted;
}

.center-block {
    margin-left: 0 auto;
    margin-right: 0 auto;
    display:inline-block;
    text-align: center;
}

.col-grey {
    background-color: grey;
    display: inline-block;
    margin: 0 auto;
}

.col-rice {
    background-color: antiquewhite;
    display: inline-block;
    margin: 0 auto;
}