.textInput {
    < < < < < < < HEAD
    margin-top: 50px;
    padding-top: 50px;
}

.progressBar {
    width: 60%;
    max-width: 60%;
= = = = = = = margin-top: 50 px;
    padding-top: 50px;
}

.progressBar {
    width: 60%;
    max-width: 60%;
>>> >>> > 31 bbd7023fd57a9dcd1ac263d9b6426e28ab59d2
}