.inputTextArea {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    height: 300px;
    width: 90%;
    border: 1px solid grey;
    padding: 10px;
}


.form {
    margin-bottom: 70px;
    margin-top: 5px;
}

.sliderTitle {
    border: 1px solid grey;
    align-content: center;
}

.sliderCol {
    white-space: nowrap;
}

.black-border {
    border: black dotted;
}