.inputTextArea {
    margin: auto;
    margin-top: 30px;
    display: block;
    height: 300px;
    width: 90%;
    border: 1px solid grey;
    padding: 10px;
}

.btn {
    display: flex;
    border: none;
    background: #666;
    color: #fff;
    padding: 7px 20px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
  }
  
.btn:hover {
    background: rgb(66, 189, 62);
}