* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  line-height: 2;
}

a {
  color: #333;
  text-decoration: none;
}

.btn {
  display: inline-block;
  border: none;
  background: rgba(146, 24, 24, 0.333);
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}